Web@SmartVideo/App_WebReferences/SmartWCFServiceReference/SmartWCFService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SmartWCFService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:60888/SmartWCFService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:60888/SmartWCFService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:60888/SmartWCFService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DTOLib" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISmartWCFService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="ISmartWCFService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartWCFService_GetFilmById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFilmById" />
  </wsdl:message>
  <wsdl:message name="ISmartWCFService_GetFilmById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFilmByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartWCFService_GetActorByIdActor_InputMessage">
    <wsdl:part name="parameters" element="tns:GetActorByIdActor" />
  </wsdl:message>
  <wsdl:message name="ISmartWCFService_GetActorByIdActor_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetActorByIdActorResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartWCFService_GetFilmByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFilmByName" />
  </wsdl:message>
  <wsdl:message name="ISmartWCFService_GetFilmByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFilmByNameResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartWCFService_GetFilms_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFilms" />
  </wsdl:message>
  <wsdl:message name="ISmartWCFService_GetFilms_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFilmsResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartWCFService_GetNumberOfFilms_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNumberOfFilms" />
  </wsdl:message>
  <wsdl:message name="ISmartWCFService_GetNumberOfFilms_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNumberOfFilmsResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartWCFService_GetFilmInfos_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFilmInfos" />
  </wsdl:message>
  <wsdl:message name="ISmartWCFService_GetFilmInfos_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFilmInfosResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartWCFService_GetFilmsPage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFilmsPage" />
  </wsdl:message>
  <wsdl:message name="ISmartWCFService_GetFilmsPage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFilmsPageResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartWCFService_GetActors_InputMessage">
    <wsdl:part name="parameters" element="tns:GetActors" />
  </wsdl:message>
  <wsdl:message name="ISmartWCFService_GetActors_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetActorsResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartWCFService_IsActorExists_InputMessage">
    <wsdl:part name="parameters" element="tns:IsActorExists" />
  </wsdl:message>
  <wsdl:message name="ISmartWCFService_IsActorExists_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsActorExistsResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartWCFService_GetGenres_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGenres" />
  </wsdl:message>
  <wsdl:message name="ISmartWCFService_GetGenres_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGenresResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartWCFService_GetDirectors_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDirectors" />
  </wsdl:message>
  <wsdl:message name="ISmartWCFService_GetDirectors_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDirectorsResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartWCFService_UpdateTrailerFilm_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTrailerFilm" />
  </wsdl:message>
  <wsdl:message name="ISmartWCFService_UpdateTrailerFilm_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTrailerFilmResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartWCFService_CountFilms_InputMessage">
    <wsdl:part name="parameters" element="tns:CountFilms" />
  </wsdl:message>
  <wsdl:message name="ISmartWCFService_CountFilms_OutputMessage">
    <wsdl:part name="parameters" element="tns:CountFilmsResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartWCFService_CountFilmsRecherche_InputMessage">
    <wsdl:part name="parameters" element="tns:CountFilmsRecherche" />
  </wsdl:message>
  <wsdl:message name="ISmartWCFService_CountFilmsRecherche_OutputMessage">
    <wsdl:part name="parameters" element="tns:CountFilmsRechercheResponse" />
  </wsdl:message>
  <wsdl:portType name="ISmartWCFService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartWCFService/GetData" message="tns:ISmartWCFService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartWCFService/GetDataResponse" message="tns:ISmartWCFService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFilmById">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartWCFService/GetFilmById" message="tns:ISmartWCFService_GetFilmById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartWCFService/GetFilmByIdResponse" message="tns:ISmartWCFService_GetFilmById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetActorByIdActor">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartWCFService/GetActorByIdActor" message="tns:ISmartWCFService_GetActorByIdActor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartWCFService/GetActorByIdActorResponse" message="tns:ISmartWCFService_GetActorByIdActor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFilmByName">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartWCFService/GetFilmByName" message="tns:ISmartWCFService_GetFilmByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartWCFService/GetFilmByNameResponse" message="tns:ISmartWCFService_GetFilmByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFilms">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartWCFService/GetFilms" message="tns:ISmartWCFService_GetFilms_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartWCFService/GetFilmsResponse" message="tns:ISmartWCFService_GetFilms_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNumberOfFilms">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartWCFService/GetNumberOfFilms" message="tns:ISmartWCFService_GetNumberOfFilms_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartWCFService/GetNumberOfFilmsResponse" message="tns:ISmartWCFService_GetNumberOfFilms_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFilmInfos">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartWCFService/GetFilmInfos" message="tns:ISmartWCFService_GetFilmInfos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartWCFService/GetFilmInfosResponse" message="tns:ISmartWCFService_GetFilmInfos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFilmsPage">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartWCFService/GetFilmsPage" message="tns:ISmartWCFService_GetFilmsPage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartWCFService/GetFilmsPageResponse" message="tns:ISmartWCFService_GetFilmsPage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetActors">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartWCFService/GetActors" message="tns:ISmartWCFService_GetActors_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartWCFService/GetActorsResponse" message="tns:ISmartWCFService_GetActors_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsActorExists">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartWCFService/IsActorExists" message="tns:ISmartWCFService_IsActorExists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartWCFService/IsActorExistsResponse" message="tns:ISmartWCFService_IsActorExists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGenres">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartWCFService/GetGenres" message="tns:ISmartWCFService_GetGenres_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartWCFService/GetGenresResponse" message="tns:ISmartWCFService_GetGenres_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDirectors">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartWCFService/GetDirectors" message="tns:ISmartWCFService_GetDirectors_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartWCFService/GetDirectorsResponse" message="tns:ISmartWCFService_GetDirectors_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTrailerFilm">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartWCFService/UpdateTrailerFilm" message="tns:ISmartWCFService_UpdateTrailerFilm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartWCFService/UpdateTrailerFilmResponse" message="tns:ISmartWCFService_UpdateTrailerFilm_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CountFilms">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartWCFService/CountFilms" message="tns:ISmartWCFService_CountFilms_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartWCFService/CountFilmsResponse" message="tns:ISmartWCFService_CountFilms_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CountFilmsRecherche">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartWCFService/CountFilmsRecherche" message="tns:ISmartWCFService_CountFilmsRecherche_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartWCFService/CountFilmsRechercheResponse" message="tns:ISmartWCFService_CountFilmsRecherche_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISmartWCFService" type="tns:ISmartWCFService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/ISmartWCFService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFilmById">
      <soap:operation soapAction="http://tempuri.org/ISmartWCFService/GetFilmById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetActorByIdActor">
      <soap:operation soapAction="http://tempuri.org/ISmartWCFService/GetActorByIdActor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFilmByName">
      <soap:operation soapAction="http://tempuri.org/ISmartWCFService/GetFilmByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFilms">
      <soap:operation soapAction="http://tempuri.org/ISmartWCFService/GetFilms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNumberOfFilms">
      <soap:operation soapAction="http://tempuri.org/ISmartWCFService/GetNumberOfFilms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFilmInfos">
      <soap:operation soapAction="http://tempuri.org/ISmartWCFService/GetFilmInfos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFilmsPage">
      <soap:operation soapAction="http://tempuri.org/ISmartWCFService/GetFilmsPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetActors">
      <soap:operation soapAction="http://tempuri.org/ISmartWCFService/GetActors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsActorExists">
      <soap:operation soapAction="http://tempuri.org/ISmartWCFService/IsActorExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGenres">
      <soap:operation soapAction="http://tempuri.org/ISmartWCFService/GetGenres" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDirectors">
      <soap:operation soapAction="http://tempuri.org/ISmartWCFService/GetDirectors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTrailerFilm">
      <soap:operation soapAction="http://tempuri.org/ISmartWCFService/UpdateTrailerFilm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CountFilms">
      <soap:operation soapAction="http://tempuri.org/ISmartWCFService/CountFilms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CountFilmsRecherche">
      <soap:operation soapAction="http://tempuri.org/ISmartWCFService/CountFilmsRecherche" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SmartWCFService">
    <wsdl:port name="BasicHttpBinding_ISmartWCFService" binding="tns:BasicHttpBinding_ISmartWCFService">
      <soap:address location="http://localhost:60888/SmartWCFService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>