SmartStatService/Connected Services/ServiceReference/SmartWCFService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DTOLib" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DTOLib" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="FilmDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Actors" nillable="true" type="tns:ArrayOfActorDTO" />
      <xs:element minOccurs="0" name="Directors" nillable="true" type="tns:ArrayOfDirectorDTO" />
      <xs:element minOccurs="0" name="Genres" nillable="true" type="tns:ArrayOfGenreDTO" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Original_Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PosterPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Runtime" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TrailerPath" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FilmDTO" nillable="true" type="tns:FilmDTO" />
  <xs:complexType name="ArrayOfActorDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ActorDTO" nillable="true" type="tns:ActorDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfActorDTO" nillable="true" type="tns:ArrayOfActorDTO" />
  <xs:complexType name="ActorDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Character" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ActorDTO" nillable="true" type="tns:ActorDTO" />
  <xs:complexType name="ArrayOfDirectorDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DirectorDTO" nillable="true" type="tns:DirectorDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDirectorDTO" nillable="true" type="tns:ArrayOfDirectorDTO" />
  <xs:complexType name="DirectorDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DirectorDTO" nillable="true" type="tns:DirectorDTO" />
  <xs:complexType name="ArrayOfGenreDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GenreDTO" nillable="true" type="tns:GenreDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGenreDTO" nillable="true" type="tns:ArrayOfGenreDTO" />
  <xs:complexType name="GenreDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GenreDTO" nillable="true" type="tns:GenreDTO" />
  <xs:complexType name="ArrayOfFilmDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FilmDTO" nillable="true" type="tns:FilmDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFilmDTO" nillable="true" type="tns:ArrayOfFilmDTO" />
  <xs:complexType name="ClientDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Prenom" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientDTO" nillable="true" type="tns:ClientDTO" />
  <xs:complexType name="HitsDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdClient" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdType" type="xs:int" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HitsDTO" nillable="true" type="tns:HitsDTO" />
  <xs:complexType name="LocationDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateFin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdClient" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdFilm" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LocationDTO" nillable="true" type="tns:LocationDTO" />
  <xs:complexType name="ArrayOfLocationDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LocationDTO" nillable="true" type="tns:LocationDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLocationDTO" nillable="true" type="tns:ArrayOfLocationDTO" />
  <xs:complexType name="ArrayOfClientDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClientDTO" nillable="true" type="tns:ClientDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClientDTO" nillable="true" type="tns:ArrayOfClientDTO" />
  <xs:complexType name="ArrayOfHitsDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HitsDTO" nillable="true" type="tns:HitsDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHitsDTO" nillable="true" type="tns:ArrayOfHitsDTO" />
  <xs:complexType name="ArrayOfStatistiquesDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StatistiquesDTO" nillable="true" type="tns:StatistiquesDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStatistiquesDTO" nillable="true" type="tns:ArrayOfStatistiquesDTO" />
  <xs:complexType name="StatistiquesDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdType" type="xs:int" />
      <xs:element minOccurs="0" name="NombreHits" type="xs:int" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StatistiquesDTO" nillable="true" type="tns:StatistiquesDTO" />
</xs:schema>